<div class='main' fxLayout="column" fxLayoutAlign="space-between center">
  <mat-card  fxLayoutAlign="center center"  fxLayout="column" fxLayoutAlign="space-between center">
      <mat-card-header fxLayoutAlign="center">
          <mat-card-title>Forget password</mat-card-title>
        </mat-card-header>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email">
          </mat-form-field>
    </div>
    <div>
        <button mat-button colour = "primary" (click)="forgetpassword()">submit</button>
    </div>
        
  </mat-card>
</div>
