<html>

<!-- remaind me button -->
  <div fxLayoutAlign="space-between end" fxLayout="row" fxFlex="90">
    
    <button
      id="Remaind"
      matTooltip="Remind me"
      mat-icon-button
      [matMenuTriggerFor]="remindme"
    >
      <mat-icon>
        <img src="../../../assets/image/outline-notification_important-24px.svg"
      /></mat-icon>
    </button>

    <mat-menu #remindme="matMenu" class="matmenu">
      <div class="remaindMenu">
        <mat-nav-list>

          <!-- List of events in an remin me button -->
          <mat-list role="List">

            <mat-list-item role="listitem">
              <p>Reminder :</p>
            </mat-list-item>

            <mat-list-item>
              <p>Later Today 8:00 PM</p>
            </mat-list-item>

            <mat-list-item>
              <p>Tomarrow 8:00 AM</p>
            </mat-list-item>

            <mat-list-item>
              <p>Next week Mon, 8:00AM</p>
            </mat-list-item>

            <mat-list-item>
              <p>Home</p>
            </mat-list-item>

            <mat-list-item>
              <p>Work</p>
            </mat-list-item>

            <mat-list-item>
              <p>Pick date & time</p>
            </mat-list-item>

            <mat-list-item>
              <p>Pick place</p>
            </mat-list-item>

          </mat-list>
        </mat-nav-list>
      </div>
    </mat-menu>
    
    <!-- Collaborator icon -->
    <button mat-icon-button matTooltip="Collaborator">
      <img id="img" src="../../../assets/image/outline-person_add-24px.svg" />
    </button>


    <!-- color button -->
    <button
      mat-icon-button
      matTooltip="Change color"
      [matMenuTriggerFor]="colorlist"
    >
      <img id="img" src="../../../assets/image/outline-color_lens-24px.svg" />
    </button>
    <mat-menu #colorlist="matMenu" [overlapTrigger]="false">
      <ng-template matMenuContent>
        <div class="buttons">
          <div
            fxLayout="row"
            fxLayoutGap="10px"
            style="margin-top: 3px"
            *ngFor="let colors of colorArray"
          >
            <div *ngFor="let color of colors">
              <!-- <button
                class="colors"
                [ngStyle]="{ 'background-color': color.color }"
                (click)="colorsEdit(color.color, card)"
                matTooltip="{{ color.name }}"
                mat-mini-fab
              ></button> -->
            </div>
          </div>
        </div>
      </ng-template>
    </mat-menu>


    <!-- add image button -->
    <button mat-icon-button matTooltip="Add image">
      <img id="img" src="../../../assets/image/outline-image-24px.svg" />
    </button>

    <!-- archive button -->
    <div>
      <button mat-icon-button matTooltip="Archive">
        <img src="../../../assets/image/outline-archive-24px.svg" />
      </button>
    </div>

    <!-- more menu button -->
    <button
      mat-icon-button
      [matMenuTriggerFor]="moremenu"
      colour="basic"
      matTooltip="more"
    >
      <img id="img" src="../../../assets/image/outline-more_vert-24px.svg" />
    </button>
    <mat-menu #moremenu="matMenu">
      <div>
        <button mat-menu-item>Add label</button>
        <button mat-menu-item>Add drawing</button>
        <button mat-menu-item>show checkboxes</button>
      </div>
    </mat-menu>
  </div>
</html>