<div *ngFor="let array of card" fxLayout="row wrap" class="notecard">
  <mat-card fxLayout="column" class="matcard" fxFlex="92" fxFlexOffset.xl="10" fxFlex.xs='97' >
    <div fxFlex="55" fxFlexOffset.xl="20" fxFlex.xs='97' fxLayout='row' fxLayoutAlign="start center"(click)="openDialog(array)">
  
  
      <div fxLayout="column"  mat-dialog-content class="card" >
      
        <div ><mat-card-title class="title">{{array.title}} </mat-card-title></div>
       <div> <mat-card-subtitle class="desc" >{{array.takeANote}}</mat-card-subtitle></div>
      </div>
    </div>
    <div>
      <div fxFlex='100' >              
  
      </div>
  
    </div>
  
  </mat-card>
  </div>