<div >
<div class ="card" [style.background-color]=this.data.notes.colorCode>
<div>
  <textarea [style.background-color]=this.data.notes.colorCode placeholder="Title" class="dialog" [(ngModel)]="this.data.notes.title" ></textarea>
</div>
<div>
  <textarea [style.background-color]=this.data.notes.colorCode  class="dialog"  [(ngModel)] = "this.data.notes.takeANote"></textarea>
</div>
<div fxLayout='row' fxLayoutAlign="space-around center">
  <div>
<app-iconlist  [card]='this.data.notes'></app-iconlist>
  </div>
  <div>
      <mat-dialog-actions>
          <button [style.background-color]=this.data.notes.colorCode class="mat-raised-button" (click)="close()">Close</button>
      </mat-dialog-actions>
  </div>
</div>
</div>  
</div>