<!-- diaplay notes -->
<div class="notesDisplay" >
    <div *ngFor="let note of cards" >
      <mat-card fxLayoutGap="20px" class="cardDisplay" >
        <div (click) = "openDialog(note)">
        <div>
          <mat-card-title class="titleinput" >{{note.title}}</mat-card-title>
        </div>
        <mat-card-content class="noteinput " >{{note.takeANote}}</mat-card-content>
       
      </div>
      <div> 
          <app-iconlist></app-iconlist>
          </div>
        </mat-card>
    </div>
  </div>