<div class='main' fxLayout="column" fxLayoutAlign="space-between center">
  <mat-card fxFlex="40" fxFlex.xs='50' fxLayout="column" fxLayoutAlign="center">
      <mat-card-header fxLayoutAlign="center">
          <mat-card-title>fundoo Login</mat-card-title>
        </mat-card-header>
    <div fxLayout="row" fxLayoutAlign="center stretch" >
      <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="email" ngModel required >        
        </mat-form-field>            
  </div>
    <label class ="text-danger" *ngIf="email.invalid && email.touched">email is required</label>
  <div fxLayout="row" fxLayoutAlign="center stretch">
      <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" [formControl]="password" ngModel required>          
        </mat-form-field>
  </div>
    <label class="text-danger" *ngIf="password.invalid && password.touched ">password is required</label>
  <div>
    <button mat-button colour = "primary" routerLink="/forgetpassword">Forget password?</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center stretch">
      <button mat-button colour = "primary" routerLink="/Registration">SignUp</button>
      <button mat-button color="primary"(click)="login()">login</button>    
  </div>

  </mat-card>
</div>


