<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="white" class="example-toolbar">
    <div fxLayout='row' fxFlex='100'>
    <div>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    </div>
    <div>
    <img src="../../assets/keep_48dp.png">
    </div>
    <div>
    <h1 class="example-app-name">Fundoo</h1>
    </div>
    <div  fxFlex="60"  class = "search" fxFlexOffset='20' fxFlexOffset.md='10' fxFlexOffset.sm='5' fxFlexOffset.xs='2' fxHide.xs='true'>
    <div fxFlex="60"  >
    <mat-form-field fxFlex='100' appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search" div fxLayout="row">
    <button mat-icon-button class="search-button">
    <mat-icon matTooltip="Search">search</mat-icon>
    </button>
    
    <input  class="search" fxFlex="90" [(ngModel)]="value"  matInput placeholder="Search"
    [style.fontSize.px]="16" class="search-window" autocomplete="off">
    </mat-form-field>
    </div>
    </div>
    <div fxFlex fxLayout='row' fxLayoutAlign="end center" >
    <div > 
    <button mat-mini-fab [matMenuTriggerFor]="menu" color='disabled'>Basic</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="signout()" routerLink="/login" >sign out</button>   
      </mat-menu>
    </div>   
    </div>
    </div>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
    <div>
    <a mat-list-item routerLink="./" >
    <i class="material-icons">lightbulb_outline</i>Notes </a>
    </div>
     <div>
    <a mat-list-item routerLink="." >
    <i class="material-icons">notifications</i>Reminder </a>
    </div>
    <mat-divider></mat-divider>
    <div>
    <a mat-list-item routerLink=".">
    <i class="material-icons"> edit </i>Edit Label </a>
    </div>
    <mat-divider></mat-divider>
    <div>
            <a mat-list-item routerLink=".">
                    <i class="material-icons">archive</i>Archive
            </a>
    </div>
    <div>
            <a mat-list-item routerLink=".">
                    <i class="material-icons"> delete </i> Delete
            </a>
    </div>
    </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet>

        </router-outlet>

    </mat-sidenav-content>
    </mat-sidenav-container>
    </div>
