<div>
<div class='main' fxLayout="row" fxLayoutAlign="center">
      <mat-card class="card"  fxFlex="40" fxFlex.xs='50' fxLayout="column" fxLayoutAlign="center">
          <mat-card-header fxLayoutAlign="center">
            <mat-card-title>Reset password</mat-card-title>
          </mat-card-header>        
  <div>
      <mat-form-field appearance="outline" fxLayoutAlign="center" >
          <mat-label >password</mat-label>
          <input matInput type="password">
        </mat-form-field>
  </div>
  <div>
      <mat-form-field appearance="outline" fxLayoutAlign="center">
          <mat-label >confirmpassword</mat-label>
          <input matInput type="password">
        </mat-form-field>
  </div>
  <div fxLayoutAlign="center" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" routerLink="/login">login</button> 
      <button mat-raised-button color="primary">submit</button>
  </div>
</mat-card>
</div>
</div>