<div class="dialog">
<h6 mat-dialog-title>Edit labels</h6>
<div>
  <input matInput placeholder="create new lable" [formControl]="labels">
</div>
<mat-divider></mat-divider>
<div *ngFor="let label of notesLabel">
  <div fxLayout="row">
      <i class="material-icons" (click)="delete(label)">delete </i>
  <input mat-input [(ngModel)]=label.labels>
  <mat-icon (click)="update(label)">done</mat-icon>
    
</div>
  <!--  -->
</div>
<div mat-dialog-actions>
  <button class = "button" mat-button (click)='close()' cdkFocusInitial>Done</button>
</div>
</div>