<div class="card">
  <span mat-dialog-title fxLayout="row">
    Collaborators
  </span>
  <mat-divider style="margin-top:-10px"></mat-divider>
  <div mat-dialog-content fxLayout="column" style="overflow: hidden;">
    <span fxLayout="row">
      <button mat-icon-button class="icon">
        <mat-icon>person_outline</mat-icon>
      </button>
      <div fxLayout="column">
        <div class="usernameStyle">
          {{firstname}} {{lastname}}<span style="font-style: italic">(Owner)</span>
        </div>
        <div class="emailStyle">
          {{email}}
        </div>
      </div>
    </span>
  </div>
  <div  *ngFor = "let shared of notesCollaborator">
    <div *ngIf = "shared.noteId == carddata.id">
          <span fxLayout="row">
      <button mat-icon-button class="icon">
        <mat-icon>person_outline</mat-icon>
      </button>
      <div fxLayout="column">
    <div class="usernameStyle"> {{shared.receiverEmail}}</div>
      </div>
    </span>
    </div>
  </div>

  <div fxLayout="row" style="position: relative;">
    <div class="user">
      <button mat-icon-button class="icon">
        <mat-icon>person_outline</mat-icon>
      </button>
    </div>
    <div >
      <input mat-input placeholder="email to share" [formControl]='userEmail'>
      <mat-icon >done</mat-icon>
    </div>
  </div>

  <div mat-dialog-actions class="actionDialog">
    <button mat-raised-button class="actionButton" [mat-dialog-close]>Cancel</button>
    <button mat-raised-button class="actionButton" [mat-dialog-close] (click)="checkemail()" >Save</button>
  </div>
</div>