/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form {
    width: 100%;
    border: 700% ;
    padding: 25%;
    box-shadow:0px 0px 5px red;
  background-color: aqua
  }